@using MarvelAPI.Sample.Models
@using MarvelAPI
@model MarvelViewModel
@{
    
}
    <h1>Marvel API Testing Page</h1>
    @Html.DropDownList("methods", Model.MarvelMethods)

    @using (Html.BeginForm("GetComics", "Index"))
    {
        <div>
            <h4>Please use own key if possible</h4>
            @Html.LabelFor(model => model.MarvelPublicAPIKey)
            @Html.TextBoxFor(model => model.MarvelPublicAPIKey)
            @Html.LabelFor(model => model.MarvelPrivateAPIKey)
            @Html.TextBoxFor(model => model.MarvelPrivateAPIKey)
        </div>

    }
<div id="results">
    <script type="text/x-handlebars" id="application">
        <div class="main">
            <h2>Results</h2>
            {{outlet}}
        </div>
    </script>
    <script type="text/x-handlebars" id="comics">
        <h3>Comics</h3>
        <ul class="comics-listing">
            {{#each comic in controller}}
            <li>{{comic.title}}</li>
            {{else}}
            <li>no users… :-(</li>
            {{/each}}
        </ul>
    </script>
</div>
@section scripts
{
    <script type="text/x-handlebars" id="getComics">
        <p>
            @Html.LabelFor(model => model.GetComics.Format)
            @Html.DropDownListFor(model => model.GetComics.Format, Model.ComicFormatSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.FormatType)
            @Html.DropDownListFor(model => model.GetComics.FormatType, Model.ComicFormatTypeSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.NoVariants)
            @Html.DropDownListFor(model => model.GetComics.NoVariants, Model.BooleanSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.Descriptor)
            @Html.DropDownListFor(model => model.GetComics.Descriptor, Model.DateDescriptorsSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.HasDigitalIssue)
            @Html.DropDownListFor(model => model.GetComics.HasDigitalIssue, Model.BooleanSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.Order)
            @Html.ListBoxFor(model => model.GetComics.Order, Model.OrderByOptionsSelectList)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.Limit)
            @Html.TextBoxFor(model => model.GetComics.Limit)
        </p>
        <p>
            @Html.LabelFor(model => model.GetComics.Offset)
            @Html.TextBoxFor(model => model.GetComics.Offset)
        </p>
        <input type="submit" value="Submit" />
    </script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/router.js"></script>
    <script src="~/Scripts/store.js"></script>
    <script src="~/Scripts/models/comic.js"></script>
    <script src="~/Scripts/routes/comicsRoute.js"></script>
}